.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags

spicetify
spicetify cuccok (2023-08)

[Bb]in/ # minden mappa aminek a neve Bin vagy bin. Subfolderek is.
[Oo]bj/ # minden mappa aminek a neve Obj vagy obj. Subfolderek is.
